@import url('https://fonts.cdnfonts.com/css/cascadia-code');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-1px, 1px); }
    40% { transform: translate(-1px, -1px); }
    60% { transform: translate(1px, 1px); }
    80% { transform: translate(1px, -1px); }
    100% { transform: translate(0); }
}

@keyframes bubblePop {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes moveSymbol {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(var(--direction-x) * 100vw), calc(var(--direction-y) * 100vh));
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(221, 221, 251);
}

header h1 {
    margin: 0;
    color: #000; /* Black color for Eugenio Macias title */
    font-size: 2.5em; /* Increase the header size */
    font-weight: bold; /* Make the header bolder */
    background: linear-gradient(-5deg, #98FB98 , #87CEEB, #DDA0DD, #FF634798FB98);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 10s ease infinite, text-shadow-animation 5s ease infinite;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-align: center; /* Center the header text */
}
.header-links-left, .header-links-right {
    display: flex;
    gap: 30px;
    padding: 0 20px
}

.header-links-left a, .header-links-right a {
    color: #000; /* Black color for the links */
    text-decoration: none;
    font-weight: bold;
}

.header-links-left a:hover, .header-links-right a:hover {
    text-decoration: underline;
}

.header-links-left i, .header-links-right i {
    font-size: 1.8em; /* Adjust the size of the icons */
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes text-shadow-animation {
    0%, 100% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 0, 102, 0.6), 0 0 30px rgba(255, 204, 0, 0.6), 0 0 40px rgba(51, 204, 51, 0.6), 0 0 50px rgba(0, 102, 255, 0.6); }
    50% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(0, 102, 255, 0.6), 0 0 30px rgba(51, 204, 51, 0.6), 0 0 40px rgba(255, 204, 0, 0.6), 0 0 50px rgba(255, 0, 102, 0.6); }
}

h2, h3 {
    color: #333; /* Darker color for better readability */
    font-size: 1.2em; /* Slightly bigger font size */
    font-weight: bold;
    text-align: center; /* Center the subtitles */
}

table img {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column; /* Change to vertical scrolling */
    align-items: flex-start; /* Align text to the left */
    justify-content: flex-start; /* Ensure content starts from the top */
    padding: 20px;
    min-height: calc(100% - 14%); /* Adjust to fill screen without footer */
    width: 100%;
    background: linear-gradient(-45deg, #FF6347 , #87CEEB, #DDA0DD, #98FB98); /* Light yellow, light green, light blue, light red */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    backdrop-filter: blur(8px);
    overflow: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(45deg, #98FB98 , #87CEEB, #DDA0DD, #FF6347); /* Light yellow, light green, light blue, light red */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping */
}

footer ul li {
    margin: 5px 10px; /* Adjust margin for spacing */
}

footer ul li a {
    display: block;
    padding: 10px 20px;
    background: inherit;
    color: black; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px; 
    transition: color 0.3s, text-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

footer ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.7), transparent);
    transition: left 0.7s ease-in-out;
    transform: rotate(25deg);
    z-index: 1;
}

footer ul li a:hover {
    color: #ffd700; /* Gold text on hover */
    text-shadow: 0 0 10px #fff; /* White shine effect */
    animation: vibrate 0.3s linear infinite; /* Vibrate effect */
}

footer ul li a:hover::before {
    left: 100%;
}

footer ul li a span {
    position: relative;
    z-index: 2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 400;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-pic {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 40%; /* Make it circular */
    overflow: hidden;
    transition: transform 1.5s ease-in-out; /* Smooth transition for hover effect, slower rotation */
    margin-top: 20px; /* Add space between header and text */
    display: block;
    margin-left: auto;
    margin-right: center;
}

.profile-pic:hover {
    animation: rotate infinite 3s linear; /* Continuous rotation on hover, slower speed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header h1,
main h1 {
    color: #000; 
    font-size: 2em; /* Reduce the header size */
    text-align: center; /* Center the main headers */
}

main h2 {
    color: #250; /* Dark grey for subtitles */
    font-size: 1.7em; /* Reduce the subtitle size */
}

main h3 {
    color: #150; 
    font-size: 1.4em; /* Reduce the size for less important subtitles */
}

main p,
main li {
    color: #fff;
    line-height: 1.4; 
}

main p {
    margin-bottom: 15px;
}

main li {
    padding-left: 20px; /* Tiny indentation to bullet points */
}

main a {
    color: #c0c0c0;
}

main a:hover {
    color: #a0a0a0; 
}

b, strong {
    color: #333; 
}

/* Animation styles */
@keyframes fall {
0% {
transform: translateY(-50px);
opacity: 0;
}
100% {
transform: translateY(0);
opacity: 1;
}
}

.animated-text span {
display: inline-block;
opacity: 0;
white-space: pre;
}

.animated-text span.show {
animation: fall 0.3s forwards; 
}


.stars {
display: inline-block;
font-size: 2em; 
color: #FFD700;
text-shadow: 2px 2px 2px #000;
transition: transform 0.3s; / Smooth transition for zoom effect */
}

.stars:hover {
transform: scale(1.2); 
}


math-symbols-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none; 
overflow: hidden;
}

.math-symbol {
position: absolute;
font-size: 24px;
color: #FFD700; 
pointer-events: auto; 
transition: transform 0.2s, opacity 0.2s;
}

.math-symbol:hover {
animation: bubblePop 0.5s forwards;
}

@keyframes moveSymbol {
0% {
transform: translate(0, 0);
}
100% {
transform: translate(calc(var(–direction-x) * 100vw), calc(var(–direction-y) * 100vh));
}
}
