<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/cascadia-code">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="header-links-left">
      <a href="https://www.linkedin.com/in/eugenio-macias/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:eugenio_macias_orozco@brown.edu" target="_blank" title="Email"><i class="fas fa-envelope"></i></a>
      <a href="assets/files/resume.pdf" target="_blank" title="Resume"><i class="fas fa-file-alt"></i></a>
    </div>
    <h1>{{ site.title }}</h1>
    <div class="header-links-right">
      <a href="https://www.chess.com/member/eugenio_macias" target="_blank" title="Chess.com"><i class="fas fa-chess"></i></a>
      <a href="https://open.spotify.com/user/eugenio.d.macias?si=3eaebf1bfa0e4e51" target="_blank" title="Spotify"><i class="fab fa-spotify"></i></a>
      <a href="https://www.instagram.com/eugenio_macias/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
  </header>
  <main id="content">
    {{ content }}
    {% if page.title == "Home" %}
    <img src="/assets/images/gportfolio_profile_picture.png" alt="Profile Picture" class="profile-pic center">
    <div id="math-symbols-container"></div>
    {% endif %}
  </main>
  <footer>
    <ul>
      <li><a href="{{ '/' | relative_url }}"><span>Home</span></a></li>
      <li><a href="{{ '/education' | relative_url }}"><span>Education</span></a></li>
      <li><a href="{{ '/experience' | relative_url }}"><span>Experience</span></a></li>
      <li><a href="{{ '/classes-i-have-taken' | relative_url }}"><span>Classes I Have Taken</span></a></li>
      <li><a href="{{ '/notes' | relative_url }}"><span>Notes</span></a></li>
      <li><a href="{{ '/awards' | relative_url }}"><span>Awards</span></a></li>
      <li><a href="{{ '/projects' | relative_url }}"><span>Projects</span></a></li>
      <li><a href="{{ '/music-repertoire' | relative_url }}"><span>Music Repertoire</span></a></li>
      <li><a href="{{ '/skills-interests' | relative_url }}"><span>Skills & Interests</span></a></li>
    </ul>
  </footer>
  <script src="{{ '/assets/js/symbols.js' | relative_url }}"></script>
  <script>
    $(document).ready(function() {
      $('#content').addClass('visible');

      // Apply the falling animation to text
      function animateText() {
        const textElements = document.querySelectorAll('.animated-text span');
        textElements.forEach((span, index) => {
          setTimeout(() => {
            span.classList.add('show');
          }, index * 50); // Adjust the delay for each word
        });
      }

      // Split text into spans
      function splitText() {
        const elements = document.querySelectorAll('.animated-text');
        elements.forEach(element => {
          const words = element.textContent.split(' ');
          element.textContent = '';
          words.forEach(word => {
            const span = document.createElement('span');
            span.textContent = word + ' ';
            element.appendChild(span);
          });
        });
      }

      splitText();
      animateText();

      if ($('main').has('#math-symbols-container').length) {
        const symbols = ['√', 'π', '∑', '∫', '∞', '∂', '∆', '∇', '∫', '∬', '∭', '∮', '∯', '∰', '⊕', '⊗', '∃', '∀', '∴', '∵', '≈', '≠', 'α', 'β', 'γ', 'δ', 'ε', 'ζ', 'η', 'θ', 'ι', 'κ', 'λ', 'μ', 'ν', 'ξ', 'ο', 'π', 'ρ', 'σ', 'τ', 'υ', 'φ', 'χ', 'ψ', 'ω'];
        const container = $('#math-symbols-container');

        function createSymbol() {
          const symbol = $('<div class="math-symbol"></div>').text(symbols[Math.floor(Math.random() * symbols.length)]);
          const posX = Math.random() * 100;
          const posY = Math.random() * 100;
          symbol.css({
            left: `${posX}%`,
            top: `${posY}%`
          });

          symbol.on('mouseenter', function() {
            $(this).css('opacity', '0');
            setTimeout(() => $(this).remove(), 500);
            setTimeout(createSymbol, 500);
          });

          // Add movement animation
          const pathType = Math.floor(Math.random() * 8);
          let pathFunction;
          switch (pathType) {
            case 0:
              pathFunction = x => Math.sin(x / 10) * 10; // sine wave
              break;
            case 1:
              pathFunction = x => Math.cos(x / 10) * 10; // cosine wave
              break;
            case 2:
              pathFunction = x => Math.pow(x / 10, 2); // x^2
              break;
            case 3:
              pathFunction = x => -Math.pow(x / 10, 2); // x^-2
              break;
            case 4:
              pathFunction = x => Math.pow(x / 10, 3); // x^3
              break;
            case 5:
              pathFunction = x => -Math.pow(x / 10, 3); // x^-3
              break;
            case 6:
              pathFunction = x => 20 * Math.sin(x / 10) * Math.cos(x / 10); // circular path
              break;
            case 7:
              pathFunction = x => -Math.sin(x / 10) * 10; // reverse sine wave
              break;
          }

          function moveSymbol(timestamp) {
            const elapsed = timestamp / 1000;
            symbol.css('transform', `translate(${elapsed * 20}px, ${pathFunction(elapsed * 20)}px)`);
            requestAnimationFrame(moveSymbol);
          }

          requestAnimationFrame(moveSymbol);

          container.append(symbol);
        }

        function ensureSymbols() {
          const symbolsOnScreen = container.children('.math-symbol').length;
          if (symbolsOnScreen < 30) {
            createSymbol();
          }
          requestAnimationFrame(ensureSymbols);
        }

        for (let i = 0; i < 30; i++) {
          createSymbol();
        }

        ensureSymbols();
      }
    });

    $(window).on('pageshow', function() {
      $('#content').addClass('visible');
    });
  </script>
</body>
</html>
